<div class="content affects-list">
    <div class="col-sm-4 filter-input">
        <label>
            <input type="checkbox" name="saturation" class="saturation" (change)="applyAffects($event, 'saturation')">
            Saturation   
        </label> 
        <div class=filter-input>
            <input type="range" id="saturation-value" 
            class="form-control-range filter-range"  value="0" min="-1" max="1" step="0.003921" [(ngModel)]="saturation" (change)="applyRangeValue($event, 'saturation')" [disabled]="saturationDisabled">
        </div>
    </div>
    <div class="col-sm-4 filter-input">
        <label>
            <input type="checkbox" name="hue" class="hue" (change)="applyAffects($event, 'hue')">
            Hue   
        </label> 
        <div class=filter-input>
            <input type="range" id="hue-value" 
            class="form-control-range filter-range"  value="0" min="-1" max="1" step="0.003921" [(ngModel)]="hue" (change)="applyRangeValue($event, 'hue')" [disabled]="hueDisabled">

        </div>
    </div>
    <div class="col-sm-4 filter-input">
        <label>
            <input type="checkbox" name="opacity" class="opacity" (change)="applyAffects($event, 'opacity')">
            Opacity   
        </label> 
        <div class=filter-input>
            <input type="range" id="opacity-value" 
            class="form-control-range filter-range"  value="0.5" min="0" max="1" step="0.003921" [(ngModel)]="opacity" (change)="applyRangeValue($event, 'opacity')" [disabled]="opacityDisabled">

        </div>
    </div>
    <div class="col-sm-4 filter-input">
        <label>
            <input type="checkbox" name="brightness" class="brightness" (change)="applyAffects($event, 'brightness')" >
            Brightness   
        </label> 
        <div class=filter-input>
            <input type="range" id="brightness-value" 
            class="form-control-range filter-range"  value="0" min="-1" max="1" step="0.003921" (change)="applyRangeValue($event, 'brightness')" [(ngModel)]="brightness" [disabled]="brightnessDisabled" >

        </div>
    </div>
    <div class="col-sm-4 filter-input">
        <label>
            <input type="checkbox" name="contrast" class="contrast" (change)="applyAffects($event, 'contrast')">
            Contrast   
        </label> 
        <div class=filter-input>
            <input type="range" id="contrast-value" 
            class="form-control-range filter-range"  value="0" min="-1" max="1" step="0.003921" (change)="applyRangeValue($event, 'contrast')" [(ngModel)]="contrast" [disabled]="contrastDisabled">

        </div>
    </div>

</div>